.whitefont{
    color: antiquewhite;
}

.barbox{
    
        
        background: linear-gradient(103.37deg, #ffffff9c 0%, rgba(196, 196, 196, 0.430903) 39.76%, rgba(196, 196, 196, 0) 99.87%);
    border-radius: 13px;
    backdrop-filter: blur(7px);
    text-decoration: none;
    
    -webkit-transition: all 0.5s ease;
    
}